* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}



/* card ka css */

#product-listing{
    display: flex;
    flex-wrap: wrap;
    

}
.card-product{
    width: 280px;
    height: 450px;
    
  margin: 25px 5px ;
  margin-left: 10px;
  margin-right: 5px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
  background-color: white;
  transition: transform 0.4s 0.4s;

}
.card-product:hover{
     transform: scale(1.001);
     cursor: pointer;
  box-shadow:0px 0px 10px rgba(0,0,0,0.9);
}
.card-img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  margin-bottom: 15px;
}
.card-name{
    margin-bottom: 10px;
}

.card-description,.card-category {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
}

.btn-group {
  display: flex;
  /* justify-content: space-between; */
 

}

.order-btn {
  background-color: green;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
}

.cart-btn {
  background-color: orange;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 30px;
}
button:hover {
  opacity: 0.8;
}


.price-section {
  margin-bottom: 15px;
}

.card-finalPrice {
  font-size: 20px;
  font-weight: bold;
  color: green;
  margin-right: 8px;
}

.card-price{
     text-decoration: line-through;
  color: gray;
  margin-right: 8px;
}
 .card-discount {
  color: crimson;
  font-weight: bold;
}
