.size-6{
    width: 60px;
    height: 60px;
}


#navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    
}
.link{
 text-decoration: none;
  color: black;
}
#logo h2{
    margin-top:20px ;
    margin-left: 30px;
    text-shadow: 2px 2px 6px black;
    cursor: pointer;
   
   
}
#cart-logo{
    margin-top:5px ;
    margin-right: 40px;
   
    position: relative;
}
#number{
    width: 24px;
    height: 24px;
    background-color: rgba(4, 4, 4, 0.811);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 28px;
    right: 18px;
    color: white;

}

