*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}
.link_btm{
  color: black;
  text-decoration: none;
  width: 100px;
  height: 80px;
}

  #main{
      background: url("./backgroud_imege_photo.jpg") center/cover no-repeat fixed;    
  /* background-image: url("./backgroud_imege_photo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

    width:auto ;
    height: 100vh;
   
     display: flex;
}
.main_div{
    width: 48%;
    height: 90vh;
     font-size: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color:rgb(240, 237, 237);
    
   text-shadow: 2px 2px 5px rgba(72, 70, 70, 0.561);
   
}

#com-name p{
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.595);
      font-size: 35px;
  font-weight: 700;
   
   text-align: center;
}

#com-name1 button{
    margin: 10px;
    padding: 15px;
    background-color: blue !important;
    
     opacity: 1;              /* important */
  position: relative;      /* force layer */
  z-index: 10;   
    
}

#com-name button{
  margin-top: 20px;
  padding: 14px 30px;
  font-size: 18px;
  font-weight: 600;
  color: black;   /* yellow pe black text best dikhta hai */

  background: linear-gradient(135deg, #FFD700, #FFA500);
  border: none;
  border-radius: 40px;

  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

/* Hover effect */
#com-name button:hover{
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
  background: linear-gradient(135deg, #ffea00, #ffb700);
}

/* Click effect */
#com-name button:active{
  transform: translateY(1px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}